h2{
    animation: bounceInRight;
    animation-duration: 4s;
}
.animateImg{
    animation: flipInY;
    animation-duration: 3s;
}
.detailAnimate{
    animation: fadeInUpBig;
    animation-duration: 3s;
}