<!-- section start -->
<section class="portfolio-creative portfolio-section p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6  p-0 isotopeSelector">
                <img src="assets/images/nandessentialsproducts/chutneyL.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6  p-0 h-100 my-auto">
                <div class="portfolio-text m-auto text-center">
                    <h2 class="head-text">
                        Chutney Powder
                    </h2>
                    <p class="head-sub-text">
                        A unique blend of 14 spices that is sure to leave you amazed. This chutney goes well with samosa, kachori, Bhalla, Papri Pakodas, Bhelpuri, Fruit cream and is the perfect balance of sweet and sour that will have something for everyone
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  p-0 isotopeSelector order-md-2">
                <img src="assets/images/nandessentialsproducts/pithiR.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6  p-0 h-100 my-auto">
                <div class="portfolio-text m-auto text-center">
                    <h2 class="head-text">
                       Pithi Puri Masala
                    </h2>
                    <p class="head-sub-text">
                        Spicy, khasta, and flavourful, this blend is carefully curated to blend in your atta/maida dough and give it the amazing taste of Maah daal Pithi Puri of Punjab
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  p-0 isotopeSelector">
                <img src="assets/images/nandessentialsproducts/raseelikheerf.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6  p-0 h-100 my-auto">
                <div class="portfolio-text m-auto text-center">
                    <h2 class="head-text">
                      Raseeli Kheer
                    </h2>
                    <p class="head-sub-text">
                        Everyone knows India loves kheer, our Raseeli Kheer is made with premium quality rice grains and is rich with flavours of Almond, Pista, and Elaichi. Easy to make and hard to forget, this unique blend will surely leave you mesmerized
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  p-0 isotopeSelector order-md-2">
                <img src="assets/images/nandessentialsproducts/magicmasalaf.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6  p-0 h-100 my-auto">
                <div class="portfolio-text m-auto text-center">
                    <h2 class="head-text">
                   Masala Magic
                    </h2>
                    <p class="head-sub-text">
                        An exceponal combinaon of spices specially blended to make your everyday homemade food even taser. Put this secret ingredient in a salad, Boondi raita, lassi, or any gravy dish and taste the magic on your tongue
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
