<footer class="ecommerce-footer">
    <div class="container">
        <div class="row footer-theme partition-f">
            <div class="col-lg-4 col-md-12">
                <div class="footer-title footer-mobile-title">
                    <h4>about</h4>
                </div>
                <div class="footer-contant">
                    <div class="footer-logo"><img alt="" src="assets/images/nand.png"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col offset-xl-1">
               
            </div>
            <div class="col">
               
            </div>
            <div class="col">
                <div class="sub-title">
                    <div class="footer-title">
                        <h4>store information</h4>
                    </div>
                    <div class="footer-contant">
                        <ul class="contact-list">
                            <li><i class="fa fa-map-marker"></i>Nand Essentials</li>
                            <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                            <li><i class="fa fa-envelope-o"></i>Email Us: info@nandessential.com</li>
                            <li><i class="fa fa-fax"></i>Fax: 123456</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <p><i aria-hidden="true" class="fa fa-copyright"></i> Made with <i class="fa fa-heart" aria-hidden="true"></i> by Social Gossip</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<app-tap-to-top></app-tap-to-top>
